#include "resources.h"

IDR_SNAKEICON ICON "snake.ico"

IDR_MENU MENU
{
    POPUP "&Game"
    {
        MENUITEM "&Play/Pause\tEsc", IDM_PLAYPAUSE
        MENUITEM "E&xit\tAlt+F4", IDM_EXIT
    }
    POPUP "&Controls"
    {
        MENUITEM "&WASD", IDM_WASD, CHECKED
        MENUITEM "&Arrow Keys", IDM_ARROWS, CHECKED
    }
}